*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html body{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #fff;
}
.main{
    display: flex;
}
.section-1{
    width: 25%;
    height: 100vh;
    margin-top: 10px;
    position: sticky;
    top: 0; 
}
.home{
    width: 100%;
    height: 120px;
    background-color: #121212;
    border-radius: 20px;
  
}
.search-icon{
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-left: 10px;
    
}
.search-icon svg{
   
    color: #aeaaaa ;
}
.search-icon h5{
    font-size: 17px;
    margin-left: 10px;
    color: #aeaaaa;
}
.home-icon{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-left: 10px;
}
.home-icon h5{
    font-size: 17px;
    margin-left: 10px;
}
.library{
    
    width: 100%;
    height: 200px;
    background-color: #121212;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    overflow-y: scroll;
}
.your-lib {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.your-lib>.text:hover{
    color: #fff;
}
.your-lib>svg:hover{
    color: #fff;
}
.text{
    color: #aeaaaa;
    font-size: 17px;
    font-weight: 502;
}
.your-lib svg{
    color:#aeaaaa;
}
.plus{
    color: #aeaaaa;
}
.plus:hover{
    color: #fff;
    background-color: #2a2626;
    border-radius: 50%;
}
.btn-yl{
    position: sticky;
    top: 0;
    background-color: #141313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.lib-cart-1{
    width: 95%;
    height: 120px;
    margin: 5px auto;
    background-color: #242424;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.cart-btn{
    background-color: #fff;
    border-radius: 50px;
    color: #121212;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 502;
    margin-top: 25px;
    margin-left: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
}
.lib-cart-1 h4{
    padding-left: 15px;
    padding-top: 5px;
}
.lib-cart-1 p{
    font-size: 14px;
    color: #fff;
    padding-top: 5px;
    padding-left: 18px;
  
}
.small-link{
    display: flex;
    cursor: pointer;
}
.small-link li{
    list-style: none;
    font-size: 11px;
    color: #aeaaaa;
    margin-top: 30px;
    padding: 10px 20px;
}
.small-link-1{
    display: flex;
    cursor: pointer;
}
.small-link-1 li{
    list-style: none;
    font-size: 11px;
    color: #aeaaaa;
    padding: 10px 15px;
}
.eng{
    margin-left: 40px;
    margin-top: 50px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid rgb(212, 212, 212);
    background: transparent;
    font-size: 14px;
    font-weight: 501;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.globe{
    color: #fff;
    margin-right: 5px;
}
.section-2{
    width: 100%;
    min-height: 100vh;
    margin-left: 8px;
   
}
nav{
    position: fixed;
    width: 80%;
    top: 0;
    /* right: 0; */
    height: 60px;
    background: rgba(0, 0, 0, 0.242);
    border-bottom: 1px solid #717171;
    display:flex;
    justify-content: space-between; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}
.btn-sec2{
  display: flex;
  margin-right: 20px;
  gap: 20px;
}
.left-arrow{
    margin-left: 20px;
    margin-right: 10px;
    color: #a3a1a1;
    cursor: pointer;
}
.right-arrow{
    color: #a3a1a1;
    cursor: not-allowed;
}
.left-arrow:hover{
    color: #ffffff;
}
.sign-up{
    padding: 5px 20px;
    border-radius: 40px;
    border: none;
    background-color: transparent;
    color: #cfc9c9;
    font-size: 17px;
    font-weight: 501;
    cursor: pointer;
}
.log-in{
    padding: 12px 26px;
    border-radius: 40px;
    border: none;
    font-size: 17px;
    font-weight: 501;
    cursor: pointer;
}
.banner-front{
    margin: 0;
   
}
.image{
    margin: 0;
    margin-bottom: -64px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9389005602240896) 52%, rgba(48,48,48,1) 81%);
    width: 100%;
    height: 320px;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.image img{
   width: 100%;
   height: 80%;
   object-fit: cover;
   object-position: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.img-text{
    position: absolute;
    top: 10%;
    left: 25%;
}
.img-text h2{
    font-size: 70px;
}
.img-text p{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 501;
}
.list{
  margin: 0;
  width: 100%;
  min-height: 60vh;
  background: rgb(90,49,18);
  background: linear-gradient(180deg, rgba(90,49,18,1) 4%, rgba(0,0,0,1) 36%);

 
}
.list-icon{
    padding-left: 60px;
    padding-top: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
}
.list-icon svg{
   margin-left: 20px;
   align-items: center;
   transform: scale(1);
}
.list-icon svg:hover{
    transform: scale(1.1);
}
.circle{
    color: #1FDF64;
    background-color: black;
    border-radius: 60%; 
}
.dots:hover, .heart:hover{
    color: #ffff;
}
.heart{
    color: #aba5a5;
}
.dots{
    color: #aba5a5;
}
.des{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px 20px; 
    border-bottom: .2px solid rgb(90, 88, 88);
}
.des li{
    list-style: none;
    text-align: center;
    font-weight: 501;

}
.des-2{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  
}
.des-2:hover{
    background-color: #322f2f;
  
}
.des-2:nth-last-child(1){
    padding-bottom: 10px;
    border-bottom: 30px solid rgb(90,49,18);
}
.des-2 li {
    list-style: none;
}
.clock{
    margin-right: 20px;
}
.song-title{
    display: flex;
    font-size: 15px;
    gap: 10px;
    text-align: center;
    padding: 5px;
}
.song-title img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.song-title p{
    font-weight: 501;
    margin-top: 5px;
    cursor: pointer;
}
.song-title span{
    font-size: 14px;
    color: #878585;
    font-weight: 501;
    cursor: pointer;
}
.album{
    margin-left: -104px;
    color: #878585;
    font-weight: 501;
}
.duration{
    margin-right: 32px;
    color: #878585;
    font-weight: 501;
}
.time{
    color: #878585;
    font-weight: 501;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 50px;
  
}
.footer li{
    color: #636060;
    list-style: none;
    padding: 5px 0;
    font-size: 15px;
}
.social-link{
    margin-right: 50px;
    cursor: pointer; 
}
.twitter{
    margin-left: 15px;
}
.instagram{
   margin-left: 15px;
}
.copyright{
    border-top: .2px solid #454545;
    margin-right: 50px;
    padding-top: 20px;
    margin-bottom: 100px;
    color: #454545;
    font-size: 15px;
    margin-left: 20px;
}
.ptv{
    width: 100%;
    height: 70px;
    background-color: #121212;
    position: fixed;
    bottom: 0;
}
.preview{
    position: fixed;
    bottom: .5%;
    width: 100%;
    height: 60px;
    background: rgb(232,90,162);
    background: linear-gradient(90deg, rgba(232,90,162,1) 1%, rgba(36,170,234,1) 100%);
    display: flex;
    justify-content: space-between;
}
.preview-text{
    margin-left: 10px;
    margin-top: 10px;
    gap: 5px;
}
.preview-text h5{
    margin-bottom: 4px;
}
.preview-text p{
    font-weight: 501;
}
.preview-button button{
    padding: 12px 30px;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 501;
    border: none;
    margin-right: 15px;
    margin-top: 8px;
    cursor: pointer;
}